.DS_Store
me 469/.DS_Store
*.png
.DS_Store
me 469/.DS_Store
me 469/assignment 2/.DS_Store
*.pyc
*.zip
*.pyc
*.dat
*.aux
*.bbl
*.bib
*.blg
*.log
*.gz
*.tex
sandbox/MNIST
sandbox/my_profile_data.prof
sandbox/cprofile_report.txt
*.mov
